@font-face {
  font-family: 'IBM Plus';
  src: url('../assets/IBM_font.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plus';
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #1b2a49;
}

body {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 5vh;
  margin-bottom: 2vh;
  color: #eeeeee;
  text-align: center;
}

#score {
  position: absolute;
  top: 0;
  right: 0;
  color: #eeeeee;
  background-color: #110133;
  padding: 1vh;
  font-size: 2vh;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#goals {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 2vh;
  background: rgba(1, 1, 1, 0.5);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#goals-table {
  font-size: 2vh;
}

#goals-table * {
  padding: 1vh;
}

#goals-table thead {
  background: #eeeeee;
  color: #110133;
}

#goals-table tbody {
  background: #b1b1b1;
  color: #240070;
}

#level {
  background-color: #110133;
  padding: 1vh;
  font-size: 2vh;
}

#zombies-left {
  background-color: #110133;
  padding: 1vh;
  font-size: 2vh;
}

#weapon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #110133;
  margin: 0.5vh;
  border-bottom: #110133 solid 0.3vh;
  font-size: 2vh;
}

#game-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1vh solid #110133;
  width: 80vw;
  height: 60vh;
  overflow: hidden;
}

#instructions {
  /* position: absolute; */
  /* left: 50%; */
  /* bottom: 0; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  width: 100%;
  color: #99999983;
  font-size: 1.1vh;
  margin-top: 2vh;
}

#instructions span {
  border-radius: 1vh;
  background: #99999983;
  color: #eeeeee;
  padding: 0.5vh;
}
