* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #1b2a49;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-wrapper {
  width: 80vw;
  height: 60vh;
}
